<script lang="ts">
	import NavButton from '$lib/components/common/nav-button.svelte'
	import PrimaryButton from '$lib/components/common/primary-button.svelte'
	import StopRecordingButton from '$lib/components/common/stop-recording-button.svelte'
	import {removeLoadingState, getVideoSource} from '$lib/logic/scan'
    import {sendChunk} from '$lib/logic/train'
	import {onDestroy, onMount} from 'svelte'
	import {FontAwesomeIcon} from '@fortawesome/svelte-fontawesome'
	import {faCircleExclamation} from '@fortawesome/free-solid-svg-icons'
	import {goto} from '$app/navigation'

	let videoSource = {srcObject: {getTracks: () => []}}
	let error = false
	let videoReady = false
    let recording = false
    let interval

	onMount(() => getVideoSource()
		.then(stream => {
			videoSource.srcObject = stream
		})
		.then(removeLoadingState)
		.then(() => {
			videoReady = true
		})
		.catch(() => {
			error = true
		})
	)

	onDestroy(() => {
		if (!error) {
			videoSource.srcObject.getTracks().forEach(track => track.stop())
		}
	})

	const onStartClick = () => {
		recording = true

        interval = setInterval(() => {
			sendChunk()
        }, 1000)
	}

	const onStopClick = () => {
		recording = false

        clearInterval(interval)
        goto('/train/name')
    }
</script>

<div class="camera-container overflow-x-hidden">
    {#if error }
        <div class="camera-wrapper flex items-center justify-center flex-col max-w-full px-2">
            <FontAwesomeIcon icon={faCircleExclamation} size="4x" style="color: white"/>
            <p class="text-slate-50 text text-xl md:text-2xl text-center">Sorry, you need to allow camera access to
                train</p>
        </div>
    {:else}
        <div id="camera-wrapper" class="camera-wrapper animate-pulse overflow-x-hidden m-auto h-screen">
            <video id="scanning-camera" bind:this={videoSource} class="rounded-lg" playsinline
                   autoplay muted></video>
            <canvas id="canvas" style="display: none"></canvas>
        </div>
    {/if}
</div>
<div class="controls-container flex flex-col justify-between items-center w-full md:px-2 overflow-hidden">
    <div class="text-center bold text-lg text-dark-blue z-10 bg-pale-yellow-overlay">
        <p>Place the beer in the middle of the camera</p>
    </div>
    <div class="mt-10 z-10 flex flex-col justify-center items-center">
        {#if recording}
            <StopRecordingButton onClick={onStopClick} text="Stop recording" disabled={!videoReady} />
        {:else}
            <PrimaryButton onClick={onStartClick} text="Start recording" disabled={!videoReady} />
        {/if}
        <NavButton path="/" text="Go back" className="mt-2"/>
    </div>
</div>

<style lang="sass">
    .controls-container
        @apply bg-pale-yellow
        @apply py-5
        min-height: calc(100vh - 100px)

    .camera-container
        @apply bg-pale-yellow
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0

    .camera-wrapper
        @apply w-fit
        @apply mt-2
        @apply aspect-auto
        @apply rounded-lg
        @apply bg-gray-700

    #canvas
        @apply h-[1080px]
        @apply w-[1920px]

</style>
