<script lang="ts">
    export let header: string
</script>

<div class="card">
    <div class="header">
        {header}
    </div>
    <div class="content">
        <slot/>
    </div>
</div>

<style lang="sass">
  .card
    @apply shadow-lg
    @apply rounded-lg
    @apply flex
    @apply flex-col
    @apply justify-center
    @apply items-center

  .content
    @apply text-dark-blue
    @apply bg-slate-50
    @apply w-full
    @apply rounded-b-lg
    @apply p-5

  .header
    @apply bg-gray-700
    @apply w-full
    @apply text-slate-50
    @apply rounded-t-lg
    font-family: westiva-bold, monospace
    @apply text-xl
    @apply p-5
</style>
