<script lang="ts">
    export let path: string
    export let text: string

    export let className = ""

    let buttonClassName
    $: buttonClassName = className ? `${className} bold` : 'bold'
</script>

<a class={buttonClassName} href={path}>
    {text}
</a>

<style lang="sass">
  a
    @apply rounded-lg
    @apply bg-pale-yellow
    @apply text-dark-blue
    @apply text-lg
    @apply ring-4
    @apply ring-gray-700
    @apply p-2
    @apply cursor-pointer
</style>