<script lang="ts">
    export let className = ''
    export let disableHorizontalPadding = false

    const buildClassName = () => {
        let initial = 'page-container'
        if (!disableHorizontalPadding) {
            initial = `${initial} px-5`
        }

        if (className) {
            initial = `${initial} ${className}`
        }

        return initial
    }
</script>

<div class={buildClassName()}>
    <slot/>
</div>

<style lang="sass">
  .page-container
    @apply min-h-screen
    @apply bg-pale-yellow
    @apply text-dark-blue
</style>
