<script lang="ts">
    export let onClick: () => void
    export let text: string
    export let className = ''

    export let disabled = false

    let buttonClassName
    $: buttonClassName = className ? `button-primary ${className}` : 'button-primary'
</script>

<button class={buttonClassName} on:click={onClick} disabled={disabled}>
    {text}
</button>

<style lang="sass">
  .button-primary
    @apply rounded-lg
    @apply bg-gray-700
    @apply text-slate-50
    @apply text-lg
    @apply ring-4
    @apply ring-pale-yellow-overlay
    @apply p-2
    @apply cursor-pointer
    @apply disabled:opacity-60
    font-family: westiva-bold, monospace
</style>
