<script lang="ts">
    export let className = ""
</script>

<div id="container" class="{className}">
    <slot />
</div>

<style lang="sass">
  #container
    @apply px-5
    @apply h-screen
    @apply bg-reddish-brown
    @apply text-dark-blue
</style>
