<script lang="ts">
    export let onClick: () => void
    export let text: string
    export let className = ''

    let buttonClassName
    $: buttonClassName = className ? `button-secondary ${className}` : 'button-secondary'
</script>

<button class={buttonClassName} on:click={onClick}>
    {text}
</button>

<style lang="sass">
  .button-secondary
    @apply rounded-lg
    @apply bg-pale-yellow
    @apply text-dark-blue
    @apply text-lg
    @apply ring-4
    @apply ring-gray-700
    @apply p-2
    @apply cursor-pointer
    @apply bold
</style>