<script lang="ts">
	export let value: string
	export let text: string

	$: id = text
</script>

<div class="w-full flex flex-col items-center justify-center mb-5">
    <label for={id} class="mb-2 text-lg text">{text}</label>
    <input type="text" id={id}
           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 text-center"
           required bind:value>
</div>
