<script lang="ts">
    import Hero from '$lib/components/home/hero/index.svelte'
    import FirstSection from '$lib/components/home/first-section/index.svelte'
    import SecondSection from '$lib/components/home/second-section/index.svelte'

    export let data
</script>

<Hero />
<FirstSection />
<SecondSection categories={data.categories} />
