<script lang="ts">
    import SecondaryContainer from '$lib/components/common/secondary-container.svelte'
    import HomeIllustration1 from '$lib/components/home/first-section/home-illustration-1.svelte'
    import SectionHeading from './section-heading.svelte'
    import SectionText from './section-text.svelte'
    import Tap from './tap.svelte'
</script>

<SecondaryContainer className="flex items-center flex-col justify-center md:justify-between md:flex-row">
    <div class="w-full md:w-1/2">
        <div class="w-full h-full flex items-center justify-center">
            <HomeIllustration1/>
        </div>
    </div>
    <div class="w-1/2 flex flex-col items-center justify-center md:pr-10">
        <SectionHeading/>
        <SectionText/>
        <div class="w-full">
            <a href="/about" class="text underline text-slate-400">Learn more</a>
        </div>
        <div class="flex items-center justify-evenly w-full hidden md:flex">
            <!-- TODO: Add some tooltips to these components to provide more context -->
            <Tap text="Scan"/>
            <Tap text="Review"/>
            <Tap text="Enjoy"/>
        </div>
    </div>
</SecondaryContainer>