<script lang="ts">
    import TapIllustration from './home-tap-illustration.svelte'

    export let text: string
</script>

<div class="tap-wrapper mt-28">
    <p class="bold text-dark-blue">{text}</p>
    <TapIllustration/>
</div>

<style lang="sass">
  .tap-wrapper
    position: relative

  .tap-wrapper p
    position: absolute
    top: 35%
    left: 48%
    transform: translate(-50%, -50%)
</style>
