<script lang="ts">
    import PrimaryContainer from '$lib/components/common/primary-container.svelte'
    import { labelForName, dateForUnix, lazyLoad } from '$lib/logic/common'

    export let categories: unknown
</script>

<PrimaryContainer className="flex flex-col items-center justify-center">
    <h1 class="text-4xl bold">Here are some beers you might encounter</h1>
    <div class="flex w-full items-center mt-10 space-x-10 overflow-y-hidden py-10">
        {#each categories as category}
            <div class="shadow-md bg-slate-50 flex flex-col items-center justify-center">
                <img use:lazyLoad={category.previewImage} alt={`${category.name}-preview-image`}>
                <h1 class="text-xl md:text-4xl bold text-dark-blue">{labelForName(category.name)}</h1>
                <p class="text text-dark-blue">Added on {dateForUnix(category.createdAt)}</p>
            </div>
        {/each}
    </div>
</PrimaryContainer>

<style lang="sass">
    img
      min-width: 300px
      max-height: 300px
</style>