<script>
    import Login from '$lib/components/admin/login/index.svelte'
    import Portal from '$lib/components/admin/portal/index.svelte'
    import {page} from '$app/stores'
</script>

{#if $page.data.session}
    <Portal/>
{:else}
    <Login/>
{/if}