<script>
    import { signIn } from "@auth/sveltekit/client"
    import PrimaryContainer from "$lib/components/common/primary-container.svelte"
    import PrimaryButton from "$lib/components/common/primary-button.svelte"

    const login = () => signIn("github")
</script>

<PrimaryContainer className="flex flex-col items-center justify-center">
    <h1 class="text-xl bold">Login to the Admin Portal with your GitHub Account here</h1>
    <PrimaryButton onClick={login} text="Login" className="mt-10" />
</PrimaryContainer>
