<script lang="ts">
    export let review

    const onClick = () => {
        console.log('denying review', review)
    }
</script>

<button class="button-deny" on:click={onClick}>
    Deny
</button>

<style lang="sass">
  .button-deny
    @apply rounded-lg
    @apply bg-red-700
    @apply text-slate-50
    @apply text-lg
    @apply ring-4
    @apply ring-pale-yellow-overlay
    @apply p-2
    @apply cursor-pointer
    @apply disabled:opacity-60
    font-family: westiva-bold, monospace
</style>
