<script lang="ts">
    import PrimaryContainer from '$lib/components/common/primary-container.svelte'
    import Card from '$lib/components/common/card.svelte'
    import {getPendingReviews} from '$lib/logic/admin'
    import {onMount} from 'svelte'
    import Loading from '$lib/components/admin/portal/loading.svelte'
    import UserSection from '$lib/components/admin/portal/user-section.svelte'
    import Empty from '$lib/components/admin/portal/empty.svelte'
    import Reviews from '$lib/components/admin/portal/reviews.svelte'
    import type {Review} from '$lib/logic/admin/types/review'

    let reviews: Review[]
    let loading = true

    onMount(() => getPendingReviews()
        .then(pendingReviews => {
            reviews = pendingReviews
            loading = false
        })
    )

</script>

<PrimaryContainer className="py-5 space-y-5">
    <UserSection/>
    <Card header="Pending reviews">
        {#if loading}
            <Loading/>
        {:else if !reviews.length}
            <Empty/>
        {:else}
            <Reviews reviews={reviews}/>
        {/if}
    </Card>
</PrimaryContainer>
