<script lang="ts">
    import type {Review} from '$lib/logic/admin/types/review'
    import { AccordionItem, Accordion } from 'flowbite-svelte'
    import { Video } from 'flowbite-svelte'
    import Approve from '$lib/components/admin/portal/approve.svelte'
    import Deny from '$lib/components/admin/portal/deny.svelte'

    export let reviews: Review[]
</script>

<Accordion>
    {#each reviews as review}
        <AccordionItem>
            <span slot="header" class="text text-lg">{review.name}</span>
            <Video class="w-full max-h-96" src={review.videoUrl} controls trackSrc={review.videoUrl} />
            <div class="flex justify-center items-center mt-2 space-x-5">
                <Deny review={review}/>
                <Approve review={review}/>
            </div>
        </AccordionItem>
    {/each}
</Accordion>
