<script lang="ts">
    import PrimaryButton from '$lib/components/common/primary-button.svelte'
    import {signOut} from '@auth/sveltekit/client'
    import {page} from '$app/stores'
</script>

<div class="flex items-center justify-center space-x-5">
    <img class="user-avatar" src={$page.data.session.user.image} alt="user-avatar">
    <div class="flex flex-col items-end justify-center space-y-5">
        <h1 class="bold text-2xl">Welcome, {$page.data.session.user?.name}</h1>
        <PrimaryButton text="Sign out" onClick={signOut}/>
    </div>
</div>

<style lang="sass">
  .user-avatar
    @apply rounded-full
    height: 100px
    @apply border-gray-700
    @apply border-2
</style>
