<script>
    import PrimaryContainer from '$lib/components/common/primary-container.svelte'
    import PrimaryButton from '$lib/components/common/primary-button.svelte'
    import NavButton from '$lib/components/common/nav-button.svelte'
    import Input from '$lib/components/common/text-input.svelte'
    import {goto} from "$app/navigation"

    let value
</script>

<PrimaryContainer className="flex flex-col items-center justify-center">
    <Input text="What name should the new category have?" {value} />
    <PrimaryButton text="Save" onClick={() => goto('/')} className="mt-10"/>
    <NavButton path="/" text="Go home" className="mt-2"/>
</PrimaryContainer>
