<script>
    import PrimaryContainer from '$lib/components/common/primary-container.svelte'
    import PrimaryButton from '$lib/components/common/primary-button.svelte'
    import SecondaryButton from '$lib/components/common/secondary-button.svelte'
    import {page} from '$app/stores'
    import {dateForUnix, labelForName} from '$lib/logic/common'
    import {goto} from '$app/navigation'

    const name = $page.url.searchParams.get('name')
    const previewImage = $page.url.searchParams.get('previewImage')
    const createdAt = $page.url.searchParams.get('createdAt')

    const onTrainClick = async () => await goto('/train')
    const onScanClick = async () => await goto('/scan')
    const onHomeClick = async () => await goto('/')
</script>

<PrimaryContainer className="flex flex-col items-center justify-center">
    {#if !!name && name !== "unknown"}
        <img src={previewImage} alt={`${name}-preview-image`}>
        <h1 class="text-4xl bold">{labelForName(name)}</h1>
        <p class="text">This beer was added to the system on: {dateForUnix(createdAt)}</p>
        <PrimaryButton onClick={onScanClick} text="Scan another beer" className="mt-10"/>
        <SecondaryButton onClick={onHomeClick} text="Go home" className="mt-2"/>
    {:else}
        <p class="text">Looks like we don't have this beer in our system... yet</p>
        <PrimaryButton onClick={onTrainClick} text="Add it yourself" className="mt-10"/>
        <SecondaryButton onClick={onScanClick} text="Scan another beer" className="mt-2"/>
        <SecondaryButton onClick={onHomeClick} text="Go home" className="mt-3"/>
    {/if}
</PrimaryContainer>
