<script>
    import PrimaryContainer from '$lib/components/common/primary-container.svelte'
    import NavButton from '$lib/components/common/nav-button.svelte'
</script>

<PrimaryContainer className="flex flex-col items-center justify-center">
    <div class="flex flex-col justify-center items-center w-full px-2 py-4">
        <h1 class="text-4xl bold">About</h1>
        <div class="text-container">
            <p class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris iaculis porta urna quis tincidunt. Sed quis mauris a risus rutrum rhoncus. Mauris fermentum scelerisque odio a aliquam. Quisque lacinia ultrices velit ac feugiat. Pellentesque convallis, nulla accumsan finibus pharetra, lorem odio laoreet mi, nec suscipit sem velit non turpis. Curabitur ut ipsum egestas, lacinia est nec, commodo libero. Quisque facilisis erat sit amet urna finibus, vitae posuere justo sollicitudin. Maecenas mattis id massa non sollicitudin. Mauris ultricies convallis eros nec dictum. Aliquam fermentum vulputate mi sed faucibus. Phasellus ac massa auctor neque tincidunt cursus nec id libero. Proin ultricies nisi sed porttitor pellentesque. Integer erat dolor, finibus vel risus eget, maximus elementum erat. Donec maximus pharetra ipsum, a faucibus lectus rutrum vel. Praesent ligula odio, feugiat nec metus a, sodales sagittis elit. Mauris eleifend eu justo in sodales.

                Vivamus semper id orci a tincidunt. Aliquam vitae felis nisl. Nam sit amet justo quis massa pharetra porttitor. Nunc ac ipsum dapibus enim vulputate accumsan. Sed euismod dolor eu vulputate laoreet. Nullam aliquet sem sit amet massa vestibulum vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus.

                Duis sed fermentum tellus. Integer quis mattis nulla. Sed tortor magna, imperdiet sed leo nec, porttitor efficitur arcu. Quisque maximus efficitur nibh, ut maximus ipsum pharetra vel. Morbi dui diam, euismod sodales orci in, accumsan euismod tellus. Nulla facilisi. Quisque sodales leo urna, eget tempus orci egestas ac. Morbi turpis mauris, bibendum non ullamcorper non, molestie pellentesque enim. Suspendisse potenti. Morbi hendrerit turpis lectus, sed efficitur magna mollis ac.

                Proin ut aliquet quam. Aenean sed nisl et turpis ultricies aliquet ut vitae ex. Suspendisse ut mauris eu odio sollicitudin facilisis. Aliquam lacinia enim et gravida molestie. Ut aliquet, lectus nec suscipit eleifend, nisi dui lobortis magna, eu faucibus justo diam sed lorem. Curabitur vulputate eget eros non commodo. Sed nunc dolor, faucibus vel erat a, blandit sodales felis. In sollicitudin, orci ac convallis porttitor, tellus neque rhoncus ex, quis dignissim ipsum ligula vitae turpis. Duis nulla augue, tincidunt vel volutpat non, volutpat non felis.

                Donec sagittis sollicitudin odio in consequat. Praesent a elit eros. Maecenas ultricies consequat ante a laoreet. Quisque porta nunc non viverra feugiat. Curabitur sed leo eget sapien pretium pellentesque. Nam a lacus in metus gravida eleifend. Quisque placerat tempor sagittis. Duis at placerat arcu.
            </p>
        </div>
        <NavButton path="/" text="Go back" className="mt-10"/>
    </div>
</PrimaryContainer>

<style lang="sass">
    .text-container
      @apply max-h-96
      overflow-y: scroll
</style>
