@tailwind base
@tailwind components
@tailwind utilities

@font-face
  font-family: 'westiva-regular'
  src: url("/fonts/westiva-regular.woff2")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'westiva-bold'
  src: url("/fonts/westiva-bold.woff2")
  font-weight: bold
  font-style: normal

@layer components
  .text
    font-family: westiva-regular, monospace
    @apply text-dark-blue

  .bold
    font-family: westiva-bold, monospace
    @apply text-dark-blue

  .none
    display: none