<footer class="flex items-center justify-evenly w-full p-2 border-t-2 border-double bg-slate-50 text-dark-blue">
    <div class="flex items-center justify-center">
        <p class="text text-xs md:text-base">Lovingly crafted by <a class="bold underline" href="https://gitlab.com/miutamihai">Mihai Miuta</a></p>
    </div>
    <div class="flex justify-center items-center">
        <p class="text text-xs md:text-base">Powered by</p>
        <a href="https://kit.svelte.dev">
            <img src="/images/svelte-kit.webp" alt="svelte-kit-logo">
        </a>
    </div>
</footer>

<style lang="sass">
  img
    width: 6rem
    height: 3.5rem
</style>