<script lang="ts">
    import PrimaryContainer from '$lib/components/common/primary-container.svelte'
    import NavButton from '$lib/components/common/nav-button.svelte'
</script>

<PrimaryContainer className="flex flex-col items-center justify-center">
    <img src="/images/logo.webp" alt="pivo-logo">
    <h1 class="text-4xl bold">Welcome to Pivo</h1>
    <p class="text">The best beer in town</p>
    <NavButton path="/scan" text="Scan a beer" className="mt-10"/>
</PrimaryContainer>
